* {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
}

div#container {
  width: 200px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10% auto 10px;
  margin-top: auto;
}

input {
  text-align: center;
  margin-top: 100px;
  border: none;
}

body {
  background-color: blanchedalmond;
}

button {
  background-color: rgb(182, 173, 173);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgb(225, 216, 216);
}