* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

h3 {
  text-align: center;
  width: 300px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  margin-top: 5px;
}

a {
  position: absolute;
  margin-top: 30px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.block {
  display: flex;
  background-color: gray;
  justify-content: center;
  height: 80px;
  min-width: 300px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.block:hover {
  background-color: rgb(160, 154, 154);
}

.block:hover img {
  width: 100px;
  height: 100px;
}

img {
  width: 40px;
  height: 40px;
  transition: width 4s, height 4s;
  animation: presentation 4s;
}

@keyframes presentation {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1000px) {

  .container1 {
    flex-wrap: nowrap;
    max-width: 1000px;
    overflow-x: scroll
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
  }

  .container3 {
    flex-direction: column;
    align-items: center;
  }
}